{% extends "layout.html" %}

{% block title %}Aadhaartest!{% endblock %}

{% block content %}

<h1>AadhaarTest</h1>

<div class="content_container">

  <p> Example project to test django-aadhaar module</p>

  <p>Step 1: <a href="/account/signup">Sign up </a>. </p>

  <p> Step 2: <a href="/account/login">Login</a> </p> 

  <p>Step 3: Check your authentication 
  <a href="/aadhaar/history">history</a></p> 
  <p>Step 3: Authenticate
  <a href="/aadhaar/authenticate/personal">yourself</a>, your
  <a href="/aadhaar/authenticate/address">address</a>, or 
  <a href="/aadhaar/authenticate/all">both</a></p>




</div>



{% endblock %}
